{% extends 'Style_Sheet.html' %}
{% block head %}
		{% block title %}MMO Video Games{% endblock title %}
{% endblock head %}
{% block content %}
	<h1>What is a MMO?</h1>
	<div><img src="static/villagersheroes-mmo.jpg" style="height: 300px;"
	alt="Villagers & Heroes MMO"></div>
	<p>MMO games are one genre of Video Games that focus on online play and 
	communication with millons of players around the world. A common aspect of 
	these games is that they are mostly free to start with in game purchases to 
	contribute to the games purchases with the amount of players it supports. This
	genre's main appeal is the ability to bring together millions of players and
	allow them to communicate and play together.</p>
	<p>This genre's type of gameplay can vary from:</p>
	<ol>
		<li>Turn-based combat
		<li>Real-Time combat
		<li>Strategy
		<li>Simulation
	</ol>
	<h3><a href="Title_Page">Back to Main</a></h3>
{% endblock %}