{% extends 'Style_Sheet.html' %}
{% block head %}
		{% block title %}Role-Playing Video Games{% endblock title %}
{% endblock head %}
{% block content %}
	<h1>What is a Role-Playing Game?</h1>
	<p>Role-Playing games are one genre of Video Games that focus on putting a
	player into a predetermined role of a specific fictional character or group.
	This genre only refers to the world the game takes place in, and puts
	The player in that world as one of its characters. The gameplay of the RPG genre
	can vary, and makes each game a unique experience to play.</p>
	<p>This genre's type of gameplay can vary from:</p>
	<ol>
		<li>Turn-based combat
		<li>Real-Time combat
		<li>Strategy
		<li>Simulation
		<li>MMO (Massively Multiplayer Online)
	</ol>
	<h3><a href="/">Back to Main</a></h3>
{% endblock %}