{% extends 'Style_Sheet.html' %}
{% block head %}
	{% block title %}Video Games And Their Many Types{% endblock title %}
{% endblock head %}
{% block content %}
	<h1>What are Video Games?</h1>
	<p>Video games are a form of entertainment media that many people like to enjoy.
	They are unique from other media types in that they give a player an
	interactive role in a fictional environment. They also allow players to act out their 
	own personal choices and actions with a unique, fictional experience depending
	on the genre of game. Video games have many genres can belong to which can affect
	the way the game is played and presented to the player.</p>
	<h2>Some Genres of Video Games</h2>
	<ul style="list-style-type: square">
		<li><h3><a href="RPG_Page">RPG (Role-Playing Games)</a></h3>
		<li><h3>FPS (First Person Shooters)</h3>
		<li><h3>Indie</h3>
		<li><h3><a href="Simulation_Page">Simulation</a></h3>
		<li><h3>Adventure</h3>
		<li><h3>Action</h3>
		<li><h3>Puzzle</h3>
		<li><h3><a href="MMO_Page">MMO (Massively Multiplayer Online)</a></h3>
		<li><h3>Strategy</h3>
		<li><h3>Fighting</h3>
	</ul>
{% endblock %}