{% extends 'Style_Sheet.html' %}
{% block head %}
	{% block title %}Video Games And Their Many Types{% endblock title %}
{% endblock head %}
{% block content %}
	<h1>What are Video Games?</h1>
	<div><img src="/static/video-game-genres.svg" style="height: 300px;"
	alt="Types of Games"></div>
	<p>Video games are a form of entertainment media that many people like to enjoy.
	They are unique from other media types in that they give a player an
	interactive role in a fictional environment. They also allow players to act out their 
	own personal choices and actions with a unique, fictional experience depending
	on the genre of game. Video games have many genres can belong to which can affect
	the way the game is played and presented to the player.</p>
	<h2>A Table of Common Video Game Genres</h2>
	<table border="3">
	<tr>
		<th colspan="4">Genres</th>
	</tr>
	<tr>
		<td><a href="RPG_Page">RPGs</a></td>
		<td>FPS</td>
		<td>Indie</td>
		<td><a href="Simulation_Page">Simulation</a></td>
	</tr>
	<tr>
		<td>Adventure</td>
		<td>Action</td>
		<td>Puzzle</td>
		<td><a href="MMO_Page">MMOs</a></td>
	</tr>
	<tr>
		<td>Strategy</td>
		<td>Fighting</td>
		<td>Sports</td>
		<td>Racing</td>
	</tr>
	<table>
{% endblock %}